# Compiled Object files
*.slo
*.lo
*.o
*.obj
userprog/swtch.s

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.coff
test/matmult
test/shell
test/sort
test/create
userprog/nachos
bin/coff2noff
