# Compiled Object files
*.slo
*.lo
*.o
*.obj
userprog/swtch.s
vm/swtch.s

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.coff
userprog/nachos
vm/nachos
bin/coff2noff
test/*
!test/*.c
!test/*.h
!test/script.txt

# Nachos-generated
DISK
